<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <title>ログイン画面</title>
</head>
<body>

  <v-header>
    <!--位置調整とアンダーラインはcssで-->
    <v-col>
      ①〇〇会社
    </v-col>
    <v-col>
      <a href="">ホーム画面</a>
      </v-col>
    <v-col>
      <a href="">マスタ情報編集</a>
    </v-col>
    <v-col>
      <a href="">日次情報編集</a>
    </v-col>
    <v-col class="top-right">
      &lt;ログイン状態, ユーザ名, <a href="">ログアウトボタン</a>&gt;
    </v-col>
    </v-header>

    <!--②ログイン画面-->
    <div main="top">
      <h3>
        ②ログイン画面
      </h3>
    </div>

    

    <div id="app">
        <v-app >

          <!--入力フォーム-->
          <template>
            <v-form v-model="valid" >
              <v-container>
                <v-row class="text-center">
                  <v-col>
                    <!--会社コード-->
                    <v-text-field
                      v-model="sccompanycode"
                      :rules="nameRules"
                      label="③Company code"
                      required
                    ></v-text-field>

                    <!--scコード-->
                    <v-text-field
                      v-model="sccode"
                      :rules="nameRules"
                      label="sccode"
                      required
                    ></v-text-field>

                    <!--名前-->
                    <v-text-field
                      v-model="name"
                      :rules="nameRules"
                      label="name"
                      required
                    ></v-text-field>

                    <!--ログイン先-->
                  <v-select
                    :items="items"
                    label="login"
                  ></v-select>

                 <!--クリックボタン-->
                 <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn>④click me</v-btn>
                 <v-spacer></v-spacer>
                 </v-card-actions>
                </v-col>
              
                </v-row>
              </v-container>   
  
            </v-form>
          </template>


              <!--忘れたリンク-->
              <a href="">⑤パスワードをお忘れですか？</a>
              
              <!--フッター-->
              <v-footer elevation="10">
            <v-col class="font-weight-medium text-center" cols="12">⑥Copyright 2008 〇〇会社</v-col>
          </v-footer>
        </v-app>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  
    <script>
        new Vue({
          el: '#app',
          vuetify: new Vuetify(),
        })
      </script>
</body>
</html>