<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <title>ログイン画面</title>
</head>
<body>

  <v-header>
    <!--位置調整とアンダーラインはcssで-->
    <v-col>
      ①〇〇会社
    </v-col>
    <v-col>
      <a href="">ホーム画面</a>
      </v-col>
    <v-col>
      <a href="">マスタ情報編集</a>
    </v-col>
    <v-col>
      <a href="">日次情報編集</a>
    </v-col>
    <v-col class="top-right">
      &lt;ログイン状態, ユーザ名, <a href="">ログアウトボタン</a>&gt;
    </v-col>
    </v-header>

    <!--②ログイン画面-->
    <div main="top">
      <h3>
        ②ログイン画面
      </h3>
    </div>

    

    <div id="app">
        <v-app >

          <!--入力フォーム-->
          <template>
            <v-form
            ref="test" 
            v-model="valid" >
              <v-container>
                <v-row class="text-center">
                  <v-col>
                    <!--会社コード-->
                    <v-text-field
                    v-model="text1"
                    label="CompanyCode"
                    :rules="[required, limit_length]"
                    counter="4"
                  ></v-text-field>

                    <!--scコード-->
                    <v-text-field
                      v-model="txet2"
                      :rules="[required]"
                      label="sccode"
                      counter="4"
                    ></v-text-field>

                    <!--名前-->
                    <v-text-field
                      v-model="text3"
                      :rules="[required, limit_name]"
                      label="name"
                      counter="10"
                    ></v-text-field>

                    <!--ログイン先-->
                  <v-select
                  :items="h"
                  :rules="[v => !!v || 'ログイン先が選択されていません']"
                  label="login"


                  ></v-select>

                 <!--クリックボタン-->
                 <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn text v-on:click="submit">④click me</v-btn>
                 <span v-if="success">ログインしました</span>
                 <v-spacer></v-spacer>
                 </v-card-actions>
                </v-col>
              
                </v-row>
              </v-container>   
  
            </v-form>
          </template>
              <!--忘れたリンク-->
              <a href="">⑤パスワードをお忘れですか？</a>
              
              <!--フッター-->
              <v-footer elevation="10">
            <v-col class="font-weight-medium text-center" cols="12">⑥Copyright 2008 〇〇会社</v-col>
          </v-footer>
        </v-app>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  
    <script type="text/javascript">
      Vue.config.devtools = true;
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
        // 各テキストボックス、アイテムの値
        text1: "",
        text2: "",
        text3: "",
        h: ['Foo', 'Bar'],
        // 送信が成功したかどうか
        success: false,

         // 入力規則
        required: value => !!value || "必ず入力してください", // 入力必須の制約
        limit_length: value => value.length <= 4 || "4文字以内で入力してください", // 文字数の制限
        limit_name: value => value.length <= 10 || "10文字以内で入力してください",
    
      },
      methods: {
        // 送信を試みるメソッド（「送信する」がクリックされたときに呼ばれる）
        submit() {
          if (this.$refs.test.validate()) {
        // すべてのバリデーションが通過したときのみ
        // if文の中に入る
        this.success = true;
      } else {
        this.success = false;
      }
        }
      }
      });
    </script>
</body>
</html>